@{
    ViewBag.Title = "Base MVC No Entity";
}
@section scripts{
    <script src="~/Scripts/Page/Home.js"></script>
}

<style>
    .error{
        color: red;
    }
</style>
<div class="row">
    <h3>Simple CRUD</h3>
    <form id="formSCRUD" class="col-md-6">
        @*Nama*@
        <div class="form-group row">
            <label class="control-label col-md-4" for="txtNama">Nama</label>
            <input class="form-control col-md-6" id="txtNama" name="Nama" />
        </div>
        @*Email*@
        <div class="form-group row">
            <label class="control-label col-md-4" for="txtEmail">Email</label>
            <input class="form-control col-md-6" id="txtEmail" name="Email" />
        </div>
        @*Button*@
        <div class="form-group row">
            <button id="btnInsertData" class="btn btn-primary">Insert</button>
            <button id="btnUpdateData" class="btn btn-success" style="display:none">Update</button>
            <button id="btnCancel" type="button" class="btn btn-danger" style="display:none">Cancel</button>
        </div>
    </form>
    <div id="ResultCRUD" class="table-responsive col-md-6">
        @Html.Action("ListUser", "Home");
    </div>
</div>